<footer>
    <div class="f-info mt-5">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div><i class="fa-regular fa-copyright"></i> WanderHub Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" style="color: blue;"><u>Privacy</u></a>
            <a href="/terms" style="color: blue;"><u>Terms</u></a>
        </div>
    </div>
</footer>

