
    <style>
        .navbar-nav .nav-link {
            color: black; 
        }

        .navbar-collapse {
            background-color: white; 
        }
    </style>
    <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i>&nbsp;<b>WanderHub</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link poppins-regular" href="/listings">Explore</a>
                </div>
                <div class="navbar-nav ms-auto d-none d-md-flex">
                    <form class="d-flex" id="search-form" action="/listings/search" method="GET" role="search">
                        <input class="form-control me-2" type="text" placeholder="Search destinations" name="q" id="search-box">
                        <button class="btn btn-search" type="submit" id="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link poppins-regular" href="/listings/new">Add Listing</a>
                    <% if(!currUser) { %>
                        <a class="nav-link poppins-regular" aria-current="page" href="/signup"><b>Signup</b></a>
                        <a class="nav-link poppins-regular" href="/login"><b>Login</b></a>
                    <% } %>
                    <% if(currUser) { %>
                        <a class="nav-link poppins-regular" href="/logout"><b>Logout</b></a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
    
<!-- Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

