<% layout("/layouts/boilerplate") %>
    <div class="newpage row">
        <div class="col-8 offset-2 poppins-regular">
            <h3 class="poppins-regular">Create a New Listing</h3>
            <form action="/listings" method="POST"  class="needs-validation" novalidate  enctype="multipart/form-data">
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
                    <div class="invalid-feedback">required</div>
                </div>
                <div>
                    <label for="description" class="form-label">Description</label> 
                    <textarea name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">required</div>
                </div>
                <div class="mb-2">
                    <label for="image" class="form-label"> Upload Image</label>
                    <input type="file" name="listing[image]"  class="form-control" required>
                    <div class="invalid-feedback">required</div>
                </div>
                 <div class="row">
                    <div class="col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="Number" name="listing[price]" placeholder="Enter price" class="form-control" required>
                        <div class="invalid-feedback">required</div>
                    </div>
                    <div class="col-md-4 ">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
                        <div class="invalid-feedback">required</div>
                    </div>
                    <div class="col-md-4">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
                        <div class="invalid-feedback">required</div>
                    </div>
                    <div class="col-md-4">
                        <label for="type" class="form-label">Type</label>
                        <select name="listing[type]" class="form-control" required>
                            <option value="">Select a type</option>
                            <option value="Arctic">Arctic</option>
                            <option value="Hillstations">Hillstations</option>
                            <option value="Mansion">Mansion</option>
                            <option value="Islands">Islands</option>
                            <option value="Worship">Worship</option>
                            <option value="Forts">Forts</option>
                            <option value="Beachfront">Beachfront</option>
                            <option value="Farms">Farms</option>
                            <option value="Rooms">Rooms</option>
                        </select>
                        <div class="invalid-feedback">required</div>
                    </div>
                 </div> 
                <input type="submit" value="Submit" class="btnx">
            </form>
        </div>
    </div>
    