<% layout("/layouts/boilerplate") %>
  <div class="container mt-1 poppins-regular">
    <div class="card">
      <div class="card-header mb-4">
        <h3>Profile</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
          </div>
          <div class="row">
          <div class="mb-3 col-md-6">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="mb-3 col-md-6">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Address">
          </div>
        </div>
          <div class="mb-3 row">
            <label for="contact" class="col-sm-2 col-form-label">Contact No</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="contact" placeholder="Contact No">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="city" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="city" placeholder="City">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 offset-sm-2">
              <button type="button" class="btnx">Edit Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
